:root {
  --blue: #1E3A5f;                               /* Primary: Deep River Blue */
  --orange: #E27D60;                             /* Secondary: Warm Ember Orange */
  --yellow: #F2C57C;                             /* Accent: Golden Sand */
  --gray: #2E2E2E;                               /* Background: Charcoal Gray */
  --off-white: #F9F7F3;                          /* Text: Off-White */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background-color: var(--gray);
  color: var(--off-white);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
h1, h2 {
  font-family: var(--heading-font);
  text-align: center;
  color: var(--blue);
  background-color: var(--yellow);
}
h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
main {
  background: var(--blue);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
section {
  background-color: var(--blue);
  margin: 16px 0;
}

/*===== HEADER =====*/
header {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;

  padding: 1rem;
}
header img {
  width: 200px;

  border-radius: 0.5rem;
}

/* NAV */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;
}
header nav a {
  text-decoration: none;
  color: var(--gray);
  background-color: var(--orange);

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
header nav a:hover {
  background: var(--off-white);
}


/*========== HOME ==========*/
.hero-text {
  position: absolute;
  top: 65px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1rem;

  color: var(--gray);
}
.hero-text p {
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0.25rem;

  font-size: 1rem;

  background: white;
  border-radius: 0.5rem;
}
.hero-text a {
  padding: 0.25rem;

  text-decoration: none;
  text-align: center;
  font-size: 1rem;

  color: var(--gray);
  background: var(--orange);
  border-radius: 0.5rem;

  transition: color 0.5s ease, background 0.5s ease;
}
.hero-text a:hover {
  background: white;
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  margin: 1rem 0;
}
.info-card {
  padding: 0.75rem;

  text-align: center;

  background: var(--yellow);
  border-radius: 0.5rem;
}
.info-card img {
  width: 225px;
  height: 200px;
  object-fit: cover;

  margin: 0;
  padding: 0;

  border: 0.25rem solid var(--gray);
  border-radius: 0.5rem;
}
.info-card h3 {
  display: inline-block;

  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;

  font-weight: bolder;

  background: var(--blue);
  color: white;
  border-radius: 0.5rem;
}
.info-card p {
  margin: 0;
  padding: 0;

  color: var(--gray);
}

.newsletter-section {
  position: relative;

  padding: 2rem;
}
.newsletter-section img {
  width: 480px;
  height: auto;
  object-fit: cover;
}
.newsletter {
  position: absolute;
  width: 320px;
  top: 50%;
  transform: translateY(-50%);
  left: 500px;

  padding: 1rem;

  text-align: center;

  background: var(--yellow);
  color: var(--gray);
}
h3 {
  display: inline-block;

  padding: 0.25rem 0.5rem;
  margin: 0;

  background: var(--blue);
  color: white;
  border-radius: 0.5rem;
}
.newsletter p {
  padding: 0;
  margin: 0.5rem 0;

  color: var(--gray);
}
.newsletter form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  align-items: center;
}
.newsletter form label {
  font-weight: bold;
  text-align: right;
}
.newsletter form input {
  padding: 0.5rem;

  border-radius: 0.5rem;
  border: transparent;
}
.newsletter form button {
  grid-column: span 2;
  justify-self: center;
  width: fit-content;

  margin: 0 auto;
  padding: 0.5rem 0.75rem;

  border: none;
  color: var(--gray);
  background: var(--orange);
  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
.newsletter form button:hover {
  background: white;
}


/*========== TRIPS ==========*/
.cta {
  padding: 2rem;

  text-align: center;

  background: var(--yellow);
}
.cta p {
  color: var(--blue);
}
.cta-button {
  display: inline-block;

  text-decoration: none;

  padding: 0.75rem;
  margin-top: 0.5rem;

  border-radius: 0.5rem;
  color: white;
  background: var(--blue);

  transition: background 0.5s ease;
}
.cta-button:hover {
  background: var(--gray);
}

.trip-descriptions h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
.grid-trips {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.trip {
  background-color: var(--yellow);
  color: var(--gray);
  padding: 1rem;
  border-radius: 0.5rem;
}
.trip img {
  display: block;
  width: 225px;
  height: 200px;
  object-fit: cover;

  margin: 0 auto;
  margin-bottom: 16px;
  padding: 0;

  border-radius: 0.5rem;
}
.trip h3 {
  text-align: center;
}

.trip-table table {
  overflow: hidden;
  border-collapse: collapse;
  overflow: hidden;

  margin: 0.5rem 0 0 0;

  background: var(--yellow);
  color: var(--gray);
}
.trip-table th, .trip-table td {
  padding: 0.75rem 1rem;

  text-align: left;

  border: 1px solid var(--blue);
}
.trip-table th {
  font-weight: bold;

  background-color: var(--orange);
  color: var(--gray);
}


/*===== HERO =====*/
.hero {
  position: relative;

  margin-top: 1.5rem;
}
.hero img {
  display: block;

  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 0.5rem;
  width: 100%;

  padding: 0.5rem;

  text-align: center;
  font-size: 1.75rem;

  background-color: var(--yellow);
  color: var(--blue);
}
.hero article {
  position: absolute;
  top: 310px;

  background-color: var(--blue);
  opacity: 0.7;
}
.hero article img {
  float: right;
  width: 125px;
  border: 2px solid var(--orange);
}

/*===== HISTORY =====*/
.history {
  margin-top: 1.5rem;
}
.history h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 16px;
}
.history-grid img {
  width: 150px;
}

/*===== ADVENTURE =====*/
.adventures {
  margin-top: 24px;
}
.adventures h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
.adventure-gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}
figure {
  text-align: center;
  padding: 8px;
}
figure img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
figcaption {
  margin-top: 8px;
}


/*===== CONTACT INFO =====*/
.contact-info h1 {
  position: static;

  padding: 0.5rem;
}
.contact-info p {
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
}

/*===== MAP + FORM =====*/
.map-form-container {
  display: flex;
  gap: 1rem;
}

/* MAP */
.map-form-container iframe {
  flex: 1;

  border: none;
  border-radius: 0.5rem;
}

/* FORM */
.form-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem;

  background-color: var(--yellow);
  color: var(--gray);
  border-radius: 0.5rem;
}
.form-grid label {
  text-align: center;
  font-weight: 600;
}
.form-grid input, .form-grid select, .form-grid textarea {
  padding: 0.5rem;

  font-size: 1rem;

  border: none;
  border-radius: 0.5rem;
}
.form-grid .radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.form-grid button {
  grid-column: 1 / -1;

  padding: 0.5rem;

  font-size: 1rem;
  font-weight: bold;

  border: none;
  background-color: var(--orange);
  color: var(--gray);
  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
.form-grid button:hover {
  background-color: green;
}






/*===== FOOTER =====*/
footer {
  position: relative;

  margin-top: 1.5rem;
  padding: 1rem;

  text-align: center;
  background: black;
}
.socialmedia {
  position: absolute;
  right: 1rem;
  top: 1rem;

  display: flex;
  gap: 1rem;

  padding: 0.5rem;
}
.socialmedia img {
  width: 2rem;
  height: auto;

  background-color: var(--orange);
  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
.socialmedia img:hover {
  background: var(--off-white);
}