:root {
  --blue: #1E3A5f;                               /* Primary: Deep River Blue */
  --orange: #E27D60;                             /* Secondary: Warm Ember Orange */
  --yellow: #F2C57C;                             /* Accent: Golden Sand */
  --gray: #2E2E2E;                               /* Background: Charcoal Gray */
  --off-white: #F9F7F3;                          /* Text: Off-White */
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--body-font);
  background-color: var(--gray);
  color: var(--off-white);
}
header, main, footer {
  width: 840px;
  margin: 0 auto;
}
h1, h2 {
  font-family: var(--heading-font);
  text-align: center;
  color: var(--blue);
  background-color: var(--yellow);
}
nav, p, section, article {
  margin: 16px;
  padding: 8px;
}
section {
  background-color: var(--blue);
}

/*===== HEADER =====*/
header {
  display: grid;
  grid-template-columns: 230px 1fr;
  align-items: center;

  padding: 1rem;
}
header img {
  width: 200px;

  border-radius: 0.5rem;
}

/* NAV */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;
}
header nav a {
  text-decoration: none;
  color: white;
  background-color: var(--orange);

  padding: 0.5rem 1rem;

  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
header nav a:hover {
  background: var(--off-white);
}

/*===== HERO =====*/
.hero {
  position: relative;

  margin-top: 1.5rem;
}
.hero img {
  display: block;

  width: 100%;
  height: auto;
}
.hero h1 {
  position: absolute;
  top: 1rem;
  width: 100%;

  padding: 0.5rem;

  text-align: center;
  font-size: 1.5rem;

  background-color: var(--yellow);
  color: var(--blue);
  opacity: 0.7;
}
.hero article {
  position: absolute;
  top: 310px;

  background-color: var(--blue);
  opacity: 0.7;
}
.hero article img {
  float: right;
  width: 125px;
  border: 2px solid var(--orange);
}

/*===== HISTORY =====*/
.history {
  margin-top: 1.5rem;
}
.history h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 16px;
}
.history-grid img {
  width: 150px;
}

/*===== ADVENTURE =====*/
.adventures {
  margin-top: 24px;
}
.adventures h2 {
  text-align: center;
  margin-bottom: 16px;
  padding: 8px;
}
.adventure-gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 16px;
}
figure {
  text-align: center;
  padding: 8px;
}
figure img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
figcaption {
  margin-top: 8px;
}


/*===== CONTACT INFO =====*/
.contact-info {

}
.contact-info h1 {
  position: static;

  padding: 0.5rem;
}
.contact-info p {
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
}

/*===== MAP + FORM =====*/
.map-form-container {
  display: flex;
  gap: 1rem;
}

/* MAP */
.map-form-container iframe {
  flex: 1;

  border: none;
  border-radius: 0.5rem;
}

/* FORM */
.form-grid {
  flex: 1;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  gap: 1rem;

  padding: 0.5rem;

  background-color: var(--yellow);
  color: var(--gray);
  border-radius: 0.5rem;
}
.form-grid label {
  text-align: center;
  font-weight: 600;
}
.form-grid input, .form-grid select, .form-grid textarea {
  padding: 0.5rem;

  font-size: 1rem;

  border: none;
  border-radius: 0.5rem;
}
.form-grid .radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.radio-group label {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.form-grid button {
  grid-column: 1 / -1;

  padding: 0.5rem;

  font-size: 1rem;

  border: none;
  background-color: var(--orange);
  color: white;
  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
.form-grid button:hover {
  background-color: green;
}






/*===== FOOTER =====*/
footer {
  position: relative;

  margin-top: 1.5rem;
  padding: 1rem;

  text-align: center;
  background: black;
}
.socialmedia {
  position: absolute;
  right: 1rem;
  top: 1rem;

  display: flex;
  gap: 1rem;

  padding: 0.5rem;
}
.socialmedia img {
  width: 2rem;
  height: auto;

  background-color: var(--orange);
  border-radius: 0.5rem;

  transition: background 0.5s ease;
}
.socialmedia img:hover {
  background: var(--off-white);
}