:root {
  --black: rgb(0, 0, 0);
  --darkblue: rgb(0, 0, 139);
  --light-gray: rgb(209, 209, 209);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
}
header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
}
nav {
  color: var(--white);
  background-color: var(--darkblue);
  padding: 10px 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--white);
}

main {
  grid-column: 2/3;

  margin: 1rem;
}
main h1 {
  color: var(--darkblue);
  text-align: center;

  padding: 10px 20px;
  margin: 15px;

  border-bottom: 2px solid var(--darkblue);
}
main img {
  float: right;

  width: 250px;
  height: auto;
  border: 1px solid var(--black);
  padding: 2px;
  margin: 15px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
aside h2 {
  margin: 5px;
  position: absolute;
  top: 15px;
  left: 75px;
}
aside img {
  width: 200px;
  height: auto;

  margin: 10px;
}

footer {
  position: relative;
  bottom: 0;
  left: 0;

  margin-top: 30px;
  padding: 10px 0;

  color: var(--white);
  border-top: 1px solid var(--black);
  background-color: var(--darkblue);
  text-align: center;
}



/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;

  background-color: var(--light-gray);
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 5px;
}
.grid {
  display: grid;
  align-items: center;
}