* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  width: 100%;
}
nav {
  color: white;
  background: darkblue;
  padding: 10px 15px;
}
nav a {
  color: white;
  display: block;
  padding: 20px;
}

main {
  text-align: center;
  max-width: 80%;

  margin: 10px auto;
  padding: 15px;
}
main h1 {
  color: darkblue;

  padding: 10px 20px;
  margin: 15px;
}
main img {
  display: inline-block;

  width: 250px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  margin: 15px auto;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}

aside {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: rgb(209, 209, 209);
  color: black;
  text-align: center
}
aside h2 {
  margin: 5px;
}
aside img {
  width: 200px;
  height: auto;

  margin: 10px;
}




footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;

  margin-top: 30px;
  padding: 10px 0;

  background: darkblue;
  border-top: 1px solid white;
  text-align: center;
}